<!doctype html>
<html class="no-js" lang=""
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"
    ></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- bower:css -->

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/loading.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/frame.css">
    <!-- endinject -->
</head>
<body>
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<header class="ro" layout:fragment="header">
default-header
</header>

<section layout:fragment="content">
default-content
</section>

<footer layout:fragment="footer">
default-footer
</footer>

<!--modal-->


<!-- bower:js -->

<script src="/bower_components/jquery/dist/jquery.js"></script>

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- endinject -->

<!-- inject:js -->
<!-- app scripts will go here... -->
<!-- endinject -->
</body>
</html>
