<!doctype html>
<html class="no-js" lang=""
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"
    ></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css content/css/vendor.css -->
    <!-- bower:css -->

    <!-- endinject -->

    <!-- endbuild -->
    <!-- build:css content/css/main.css -->

    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div layout:fragment="header">
default-header
</div>

<div layout:fragment="content">
default-content
</div>

<div layout:fragment="footer">
default-footer
</div>

<!--modal-->


<!-- build:js app/vendor.js -->
<!-- bower:js -->

<!-- endinject -->
<!-- endbuild -->

<!-- build:js app/app.js  -->
<!-- inject:js -->

<!-- endinject -->
<!-- endbuild -->
</body>
</html>
